.login-card {
    max-width: 500px;
    background: rgb(255, 255, 255);
    border-radius: 0.4em;
    box-shadow: 0.3em 0.3em 0.7em #00000015;
    transition: border 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    border: rgb(250, 250, 250) 0.2em solid;
    padding: 25px;
}

.login-card:hover {
    border: #1426c2 0.2em solid;
}


.login-wrapper{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}


.box{
    padding: 50px 25px 50px 25px;
    border: 1px solid rgb(223, 223, 223);
    border: 1px solid #1426c2;
}

.hr-line{
    background-color: #1426c2;
}

.login-input{
    margin-bottom: 25px;
}

